openapi: 3.0.3
info:
  contact:
    email: vrchatapi.lpv0t@aries.fyi
    name: Unofficial VRChat API Documentation Project
    url: https://github.com/VRChatAPI
  description: |-
    ![VRChat API Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)

    # Welcome to the VRChat API

    Before we begin, we would like to state this is a **COMMUNITY DRIVEN PROJECT**.
    This means that everything you read on here was written by the community itself and is **not** officially supported by VRChat.
    The documentation is provided "AS IS", and any action you take towards VRChat is completely your own responsibility.

    The documentation and additional libraries SHALL ONLY be used for applications interacting with VRChat's API in accordance
    with their [Terms of Service](https://hello.vrchat.com/legal) and [Community Guidelines](https://hello.vrchat.com/community-guidelines), and MUST NOT be used for modifying the client, "avatar ripping", or other illegal activities.
    Malicious usage or spamming the API may result in account termination.
    Certain parts of the API are also more sensitive than others, for example moderation, so please tread extra carefully and read the warnings when present.

    ![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)

    Finally, use of the API using applications other than the approved methods (website, VRChat application, Unity SDK) is not officially supported.
    VRChat provides no guarantee or support for external applications using the API. Access to API endpoints may break **at any time, without notice**.
    Therefore, please **do not ping** VRChat Staff in the VRChat Discord if you are having API problems, as they do not provide API support.
    We will make a best effort in keeping this documentation and associated language libraries up to date, but things might be outdated or missing.
    If you find that something is no longer valid, please contact us on Discord or [create an issue](https://github.com/vrchatapi/specification/issues) and tell us so we can fix it.

    # Getting Started

    The VRChat API can be used to programmatically retrieve or update information regarding your profile, friends, avatars, worlds and more.
    The API consists of two parts, "Photon" which is only used in-game, and the "Web API" which is used by both the game and the website.
    This documentation focuses only on the Web API.

    The API is designed around the REST ideology, providing semi-simple and usually predictable URIs to access and modify objects.
    Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes.
    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.

    <div class="callout callout-error">
      <strong>🛑 Warning! Do not touch Photon!</strong><br>
      Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.
    </div>

    <div class="callout callout-info">
      <strong>ℹ️ API Key and Authentication</strong><br>
      The API Key has always been the same and is currently <code>JlE5Jldo5Jibnk5O5hTx6XVqsJu4WJ26</code>.
      Read <a href="#tag--authentication">Authentication</a> for how to log in.
    </div>

    # Using the API

    For simply exploring what the API can do it is strongly recommended to download [Insomnia](https://insomnia.rest/download), a free and open-source
    API client that's great for sending requests to the API in an orderly fashion.
    Insomnia allows you to send data in the format that's required for VRChat's API.
    It is also possible to try out the API in your browser, by first logging in at [vrchat.com/home](https://vrchat.com/home/) and then going to
    [vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the information will be much harder to work with.

    For more permanent operation such as software development it is instead recommended to use one of the existing language SDKs.
    This community project maintains API libraries in several languages, which allows you to interact with the API with simple function calls
    rather than having to implement the HTTP protocol yourself. Most of these libraries are automatically generated from the API specification,
    sometimes with additional helpful wrapper code to make usage easier. This allows them to be almost automatically updated and expanded upon
    as soon as a new feature is introduced in the specification itself. The libraries can be found on [GitHub](https://github.com/vrchatapi) or following:

    * [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)
    * [Dart](https://pub.dev/packages/vrchat_dart)
    * [Rust](https://crates.io/crates/vrchatapi)
    * [C#](https://github.com/vrchatapi/vrchatapi-csharp)
    * [Python](https://github.com/vrchatapi/vrchatapi-python)

    # Pagination

    Most endpoints enforce pagination, meaning they will only return 10 entries by default, and never more than 100.<br>
    Using both the limit and offset parameters allows you to easily paginate through a large number of objects.

    | Query Parameter | Type | Description |
    | ----------|--|------- |
    | `n` | integer  | The number of objects to return. This value often defaults to 10. Highest limit is always 100.|
    | `offset` | integer  | A zero-based offset from the default object sorting.|

    If a request returns fewer objects than the `limit` parameter, there are no more items available to return.

    # Contribution

    Do you want to get involved in the documentation effort? Do you want to help improve one of the language API libraries?
    This project is an [OPEN Open Source Project](https://openopensource.org)! This means that individuals making significant and valuable contributions are given
    commit-access to the project. It also means we are very open and welcoming of new people making contributions, unlike some more guarded open-source projects.

    [![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)
  license:
    name: MIT
    url: https://github.com/vrchatapi/specification/blob/master/LICENSE
  termsOfService: https://vrchat.com/legal/
  title: VRChat API Documentation
  version: 1.12.0
servers:
- url: https://api.vrchat.cloud/api/1
tags:
- description: Authentication Docs Here
  name: authentication
- description: Avatars Docs Here
  name: avatars
- description: Economy Docs Here
  name: economy
- description: Favorites Docs Here
  name: favorites
- description: Files Docs Here
  name: files
- description: Friends Docs Here
  name: friends
- description: Group Docs Here
  name: groups
- description: Invite Docs Here
  name: invite
- description: Instances Docs Here
  name: instances
- description: Notifiations Docs
  name: notifications
- description: "Permissions are a way to individually grant specific access to a user,\
    \ often through a license such as VRC+ subscription."
  name: permissions
- description: |-
    There are two different moderation API's, "moderation" for Staff actions, and "playermoderation" for players.
    PlayerModerations are user-generated actions towards others, such as muting them, blocking, or toggling interaction.

    Your global permission settings are stored locally on your computer.
    Only player-specific moderations (when you target a player, and allow them specifically to interact with you) are stored in the API.

    ## Implementation details

    There are three different user-targetted permission options:

    - Mode 1: interactOn/unmute/unblock
    - Mode 2: interactOff/mute/block
    - *Default setting*

    **Example:**

    Force On (`interactOn`) and Force Off (`interactOff`) always or never allow that person to interact with you.
    These are stored as PlayerModerations. When you select a player and select "Force On", it creates a playerModeration of type `interactOn`.

    **Important order:**

    1. When switching between one mode from the other, e.g. "Force On" and "Force Off", **the previous playerModeration MUST first be deleted before creating the second.**
       The game sends these in sequence, first delete the old, then create the new. Attempting to create both `interactOn` and `interactOff` is UNDOCUMENTED behavior.
    2. "Use Current Setting" **does not have it's own enum**. The game removes any previous playerModeration of same type.
       No playerModeration of either type means fallback to the global setting.

    ## Deprecation notice

    As of October 2022, `showAvatar` and `hideAvatar` has been moved to local storage.
    Sending these types to the API will result in a 200 OK response, but the API will **not** store them.
    More information is avaiable on VRChat's official [documentation on Local Storage](https://docs.vrchat.com/docs/local-vrchat-storage).
  name: playermoderation
- description: System Docs Here
  name: system
- description: Users Docs Here
  name: users
- description: Worlds Docs Here
  name: worlds
paths:
  /auth/exists:
    get:
      description: |-
        Checks if a user by a given `username`, `displayName` or `email` exist. This is used during registration to check if a username has already been taken, during change of displayName to check if a displayName is available, and during change of email to check if the email is already used. In the later two cases the `excludeUserId` is used to exclude oneself, otherwise the result would always be true.

        It is **REQUIRED** to include **AT LEAST** `username`, `displayName` **or** `email` query parameter. Although they can be combined - in addition with `excludeUserId` (generally to exclude yourself) - to further fine-tune the search.
      operationId: checkUserExists
      parameters:
      - description: Filter by email.
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Filter by displayName.
        explode: true
        in: query
        name: displayName
        required: false
        schema:
          type: string
        style: form
      - description: Filter by UserID.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: Exclude by UserID.
        explode: true
        in: query
        name: excludeUserId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExists'
          description: Returns a response if a user exists or not.
        "400":
          content:
            application/json:
              examples:
                "400 At Least One Parameter Required":
                  value:
                    error:
                      message: "\"username, email, or displayName required\""
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when missing at least 1 of the required parameters.
      summary: Check User Exists
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \"https://api.vrchat.cloud/api/1/auth/exists?email={string}\"\
          \ "
  /auth/user:
    get:
      description: "This endpoint does the following two operations:\n  1) Checks\
        \ if you are already logged in by looking for a valid `auth` cookie. If you\
        \ are have a valid auth cookie then no additional auth-related actions are\
        \ taken. If you are **not** logged in then it will log you in with the `Authorization`\
        \ header and set the `auth` cookie. The `auth` cookie will only be sent once.\n\
        \  2) If logged in, this function will also return the CurrentUser object\
        \ containing detailed information about the currently logged in user.\n\n\
        The auth string after `Authorization: Basic {string}` is a base64-encoded\
        \ string of the username and password, both individually url-encoded, and\
        \ then joined with a colon.\n  \n> base64(urlencode(username):urlencode(password))\n\
        \n**WARNING: Session Limit:** Each authentication with login credentials counts\
        \ as a separate session, out of which you have a limited amount. Make sure\
        \ to save and reuse the `auth` cookie if you are often restarting the program.\
        \ The provided API libraries automatically save cookies during runtime, but\
        \ does not persist during restart. While it can be fine to use username/password\
        \ during development, expect in production to very fast run into the rate-limit\
        \ and be temporarily blocked from making new sessions until older ones expire.\
        \ The exact number of simultaneous sessions is unknown/undisclosed."
      operationId: getCurrentUser
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
          description: OK
          headers:
            Set-Cookie:
              description: Successful authentication returns an `auth` cookie.
              explode: false
              schema:
                example: "auth=authcookie_00000000-0000-0000-0000-000000000000; Expires=Tue,\
                  \ 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authHeader: []
      - authHeader: []
        twoFactorAuthCookie: []
      - authCookie: []
      summary: Login and/or Get Current User Info
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/auth/user" \
               -H "Authorization: Basic {string}"
  /auth/twofactorauth/totp/verify:
    post:
      description: Finishes the login sequence with a normal 2FA-generated code for
        accounts with 2FA-protection enabled.
      operationId: verify2FA
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verify2FAResult'
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST "https://api.vrchat.cloud/api/1/auth/twofactorauth/totp/verify" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"code": "string"}'
  /auth/twofactorauth/otp/verify:
    post:
      description: Finishes the login sequence with an OTP (One Time Password) recovery
        code for accounts with 2FA-protection enabled.
      operationId: verifyRecoveryCode
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verify2FAResult'
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code with Recovery code
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST "https://api.vrchat.cloud/api/1/auth/twofactorauth/otp/verify" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"code": "string"}'
  /auth/twofactorauth/emailotp/verify:
    post:
      description: Finishes the login sequence with an 2FA email code.
      operationId: verify2FAEmailCode
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TwoFactorEmailCode'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verify2FAEmailCodeResult'
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA email code
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST "https://api.vrchat.cloud/api/1/auth/twofactorauth/emailotp/verify" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"code": "string"}'
  /auth:
    get:
      description: Verify whether the currently provided Auth Token is valid.
      operationId: verifyAuthToken
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyAuthTokenResult'
          description: Returns wether a provided auth token is valid or not.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify Auth Token
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/auth" \
               -b "amplitude_id_a750df50d11f21f712262cbd4c0bab37vrchat.com={string}; auth={authCookie}"
  /logout:
    put:
      description: Invalidates the login session.
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              examples:
                Logout Success:
                  value:
                    success:
                      message: Ok!
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: OK
          headers:
            Set-Cookie:
              description: Clears the `auth` cookie.
              explode: false
              schema:
                default: "auth=; Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/"
                type: string
              style: simple
            \0Set-Cookie:
              description: Clears the `age` cookie.
              explode: false
              schema:
                default: "age=; Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/"
                type: string
              style: simple
            \0\0Set-Cookie:
              description: Clears the `tos` cookie.
              explode: false
              schema:
                default: "tos=; Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Logout
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PUT "https://api.vrchat.cloud/api/1/logout" \
               -b "auth={authCookie}"
  /users/{userId}/delete:
    put:
      description: |-
        Deletes the account with given ID. Normal users only have permission to delete their own account. Account deletion is 14 days from this request, and will be cancelled if you do an authenticated request with the account afterwards.

        **VRC+ NOTE:** Despite the 14-days cooldown, any VRC+ subscription will be cancelled **immediately**.

        **METHOD NOTE:** Despite this being a Delete action, the method type required is PUT.
      operationId: deleteUser
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Delete User
      tags:
      - authentication
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PUT "https://api.vrchat.cloud/api/1/user/{userId}/delete" \
               -b "auth={authCookie}"
  /users/{userId}/avatar:
    get:
      description: Get the current avatar for the user. This will return an error
        for any other user than the one logged in.
      operationId: getOwnAvatar
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant See Other Users Current Avatar":
                  value:
                    error:
                      message: \"You do not have permission to fetch details about
                        the avatar on this user.\"
                      status_code: 403
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to see another users current avatar
            without sufficient admin permissions.
      security:
      - authCookie: []
      summary: Get Own Avatar
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \"https://api.vrchat.cloud/api/1/users/{userId}/avatar\"\
          \ -b \"auth={authCookie}\""
  /avatars:
    get:
      description: Search and list avatars by query filters. You can only search your
        own or featured avatars. It is not possible as a normal user to search other
        peoples avatars.
      operationId: searchAvatars
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: boolean
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/SortOption'
        style: form
      - description: Set to `me` for searching own avatars.
        explode: true
        in: query
        name: user
        required: false
        schema:
          enum:
          - me
          type: string
        style: form
      - description: Filter by UserID.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Result ordering
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/OrderOption'
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Tags to include (comma-separated). Any of the tags needs to be
          present.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          $ref: '#/components/schemas/ReleaseStatus'
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Avatar'
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Search Avatars
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/avatars?featured=true" \
               -b "auth={authCookie}"
    post:
      description: Create an avatar. It's possible to optionally specify a ID if you
        want a custom one. Attempting to create an Avatar with an already claimed
        ID will result in a DB error.
      operationId: createAvatar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAvatarRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                "401 Cannot Set Featured":
                  value:
                    error:
                      message: cannot set featured tag if you are not an admin
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when set featured to true without being an admin.
      security:
      - authCookie: []
      summary: Create Avatar
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST "https://api.vrchat.cloud/api/1/avatars" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"assetUrl": "string", "id": "{avatarId}", "name": "string", "description": "string", "tags": ["string"], "imageUrl": "string", "releaseStatus": "public", "version": 1, "unityPackageUrl": "string"}'
  /avatars/{avatarId}:
    delete:
      description: "Delete an avatar. Notice an avatar is never fully \"deleted\"\
        , only its ReleaseStatus is set to \"hidden\" and the linked Files are deleted.\
        \ The AvatarID is permanently reserved."
      operationId: deleteAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Delete Avatar
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE "https://api.vrchat.cloud/api/1/avatars/{avatarId}" \
               -b "auth={authCookie}"
    get:
      description: Get information about a specific Avatar.
      operationId: getAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Get Avatar
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/avatars/{avatarId}" \
               -b "auth={authCookie}"
    put:
      description: Update information about a specific avatar.
      operationId: updateAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAvatarRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Update Avatar
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PUT "https://api.vrchat.cloud/api/1/avatars/{avatarId}" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"assetUrl": "string", "id": "{avatarId}", "name": "string", "description": "string", "tags": ["string"], "imageUrl": "string", "releaseStatus": "public", "version": 1, "unityPackageUrl": "string"}'
  /avatars/{avatarId}/select:
    put:
      description: Switches into that avatar.
      operationId: selectAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
          description: Returns a single CurrentUser object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Select Avatar
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PUT "https://api.vrchat.cloud/api/1/avatars/{avatarId}/select" \
               -b "auth={authCookie}"
  /avatars/{avatarId}/selectFallback:
    put:
      description: Switches into that avatar as your fallback avatar.
      operationId: selectFallbackAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
          description: Returns a single CurrentUser object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant Select Non-Fallback as Fallback":
                  value:
                    error:
                      message: This avatar isn't tagged as a quest fallback avatar.
                      status_code: 403
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to select a fallback avatar that
            is missing the fallback tag.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Select Fallback Avatar
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \"https://api.vrchat.cloud/api/1/avatars/{avatarId}/selectFallback\""
  /avatars/favorites:
    get:
      description: Search and list favorited avatars by query filters.
      operationId: getFavoritedAvatars
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: boolean
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/SortOption'
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Result ordering
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/OrderOption'
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filters by world name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated). Any of the tags needs to be
          present.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          $ref: '#/components/schemas/ReleaseStatus'
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: "Target user to see information on, admin-only."
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Avatar'
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant See Other User Favorite Avatars":
                  value:
                    error:
                      message: \"You can only see your own favorite avatars!\"
                      status_code: 403
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to see favourited avatars of another
            user without sufficient admin permissions.
      security:
      - authCookie: []
      summary: List Favorited Avatars
      tags:
      - avatars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/avatars/favorites?featured=true" \
               -b "auth={authCookie}"
  /Steam/transactions:
    get:
      description: Get all own Steam transactions.
      operationId: getSteamTransactions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Returns a list of Transaction objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Steam Transactions
      tags:
      - economy
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/Steam/transactions" \
               -b "auth={authCookie}"
  /Steam/transactions/{transactionId}:
    get:
      deprecated: true
      description: "Get a single Steam transactions by ID. This returns the exact\
        \ same information as `getSteamTransactions`, so no point in using this endpoint."
      operationId: getSteamTransaction
      parameters:
      - description: Must be a valid transaction ID.
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Returns a single Transaction object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Steam Transaction
      tags:
      - economy
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/Steam/transactions/{transactionId}" \
               -b "auth={authCookie}"
  /Admin/transactions/{transactionId}: {}
  /auth/user/subscription:
    get:
      description: Get a list of all current user subscriptions.
      operationId: getCurrentSubscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserSubscription'
                type: array
          description: Returns a list of UserSubscription objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Current Subscriptions
      tags:
      - economy
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/auth/user/subscription" \
               -b "auth={authCookie}"
  /subscriptions:
    get:
      description: "List all existing Subscriptions. For example, \"vrchatplus-monthly\"\
        \ and \"vrchatplus-yearly\"."
      operationId: getSubscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Subscription'
                type: array
          description: Returns a list of Subscription objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Subscriptions
      tags:
      - economy
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/subscriptions" \
               -b "auth={authCookie}"
  /licenseGroups/{licenseGroupId}:
    get:
      description: Get a single License Group by given ID.
      operationId: getLicenseGroup
      parameters:
      - description: Must be a valid license group ID.
        explode: false
        in: path
        name: licenseGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseGroup'
          description: Returns a single LicenseGroup object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get License Group
      tags:
      - economy
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/licenseGroups/{licenseGroupId}" \
               -b "auth={authCookie}"
  /favorites:
    get:
      description: Returns a list of favorites.
      operationId: getFavorites
      parameters:
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "The type of favorites to return, FavoriteType."
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated). Any of the tags needs to be
          present.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Favorite'
                type: array
          description: Returns a list of Favorite objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Favorites
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/favorites?type={string}&tag={string}" \
               -b "auth={authCookie}"
    post:
      description: |-
        Add a new favorite.

        Friend groups are named `group_0` through `group_3`. Avatar and World groups are named `avatars1` to `avatars4` and `worlds1` to `worlds4`.

        You cannot add people whom you are not friends with to your friends list. Destroying a friendship removes the person as favorite on both sides.
      operationId: addFavorite
      requestBody:
        content:
          application/json:
            examples:
              Example Favorite Friend:
                value:
                  type: friend
                  favoriteId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                  tags:
                  - group_0
              Example Favorite Avatar:
                value:
                  type: avatar
                  favoriteId: avtr_912d66a4-4714-43b8-8407-7de2cafbf55b
                  tags:
                  - avatars1
            schema:
              $ref: '#/components/schemas/AddFavoriteRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorite'
          description: Returns a single Favorite object.
        "400":
          content:
            application/json:
              examples:
                "400 Already Favorited That Friend":
                  value:
                    error:
                      message: You already have that friend favorited
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying favorite someone or something when
            already having it/them favorited.
        "403":
          content:
            application/json:
              examples:
                "403 Favorite Add Not Friends Error":
                  value:
                    error:
                      message: you are not friends with that userǃ
                      status_code: 403
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying favorite someone whom you are not
            friends with.
      security:
      - authCookie: []
      summary: Add Favorite
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST "https://api.vrchat.cloud/api/1/favorites" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"type": "friend", "favoriteId": "userId", "tags": ["string"]}'
  /favorites/{favoriteId}:
    delete:
      description: Remove a favorite from your favorites list.
      operationId: removeFavorite
      parameters:
      - description: Must be a valid favorite ID.
        explode: false
        in: path
        name: favoriteId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Favorite Removed":
                  value:
                    success:
                      message: favorite deleted!
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Success response after removing a favorite.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Favorite not found":
                  value:
                    error:
                      message: 404 couldn't find that favorite
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            favorite.
      security:
      - authCookie: []
      summary: Remove Favorite
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE "https://api.vrchat.cloud/api/1/favorites/{favoriteId}" \
               -b "auth={authCookie}"
    get:
      description: Return information about a specific Favorite.
      operationId: getFavorite
      parameters:
      - description: Must be a valid favorite ID.
        explode: false
        in: path
        name: favoriteId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorite'
          description: Returns a single Favorite object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Favorite not found":
                  value:
                    error:
                      message: 404 couldn't find that favorite
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            favorite.
      security:
      - authCookie: []
      summary: Show Favorite
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/favorites/{favoriteId}" \
               -b "auth={authCookie}"
  /favorite/groups:
    get:
      description: Return a list of favorite groups owned by a user. Returns the same
        information as `getFavoriteGroups`.
      operationId: getFavoriteGroups
      parameters:
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The owner of whoms favorite groups to return. Must be a UserID.
        explode: true
        in: query
        name: ownerId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FavoriteGroup'
                type: array
          description: Returns a list of FavoriteGroup objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Favorite Groups
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/favorite/groups?ownerId={userId}" \
               -b "auth={authCookie}"
  /favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}:
    delete:
      description: Clear ALL contents of a specific favorite group.
      operationId: clearFavoriteGroup
      parameters:
      - description: "The type of group to fetch, must be a valid FavoriteType."
        explode: false
        in: path
        name: favoriteGroupType
        required: true
        schema:
          enum:
          - world
          - friend
          - avatar
          type: string
        style: simple
      - description: "The name of the group to fetch, must be a name of a FavoriteGroup."
        explode: false
        in: path
        name: favoriteGroupName
        required: true
        schema:
          type: string
        style: simple
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Favorite Group Cleared":
                  value:
                    success:
                      message: favorite deleted!
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Success response after clearing a favorite group.
      security:
      - authCookie: []
      summary: Clear Favorite Group
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE "https://api.vrchat.cloud/api/1/favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}" \
               -b "auth={authCookie}"
    get:
      description: Fetch information about a specific favorite group.
      operationId: getFavoriteGroup
      parameters:
      - description: "The type of group to fetch, must be a valid FavoriteType."
        explode: false
        in: path
        name: favoriteGroupType
        required: true
        schema:
          enum:
          - world
          - friend
          - avatar
          type: string
        style: simple
      - description: "The name of the group to fetch, must be a name of a FavoriteGroup."
        explode: false
        in: path
        name: favoriteGroupName
        required: true
        schema:
          type: string
        style: simple
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteGroup'
          description: Returns a single FavoriteGroup object.
      security:
      - authCookie: []
      summary: Show Favorite Group
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}" \
               -b "auth={authCookie}"
    put:
      description: Update information about a specific favorite group.
      operationId: updateFavoriteGroup
      parameters:
      - description: "The type of group to fetch, must be a valid FavoriteType."
        explode: false
        in: path
        name: favoriteGroupType
        required: true
        schema:
          enum:
          - world
          - friend
          - avatar
          type: string
        style: simple
      - description: "The name of the group to fetch, must be a name of a FavoriteGroup."
        explode: false
        in: path
        name: favoriteGroupName
        required: true
        schema:
          type: string
        style: simple
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFavoriteGroupRequest'
      responses:
        "200":
          description: OK
      security:
      - authCookie: []
      summary: Update Favorite Group
      tags:
      - favorites
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PUT -H "Content-Type: application/json" "https://api.vrchat.cloud/api/1/favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}" \
               -b "auth={authCookie}" \
               --data '{"displayName": "string", "visibility": "private", "tags": ["string"]}'
  /files:
    get:
      description: Returns a list of files
      operationId: getFiles
      parameters:
      - description: "Tag, for example \"icon\" or \"gallery\", not included by default."
        explode: true
        in: query
        name: tag
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - deprecated: true
        description: "UserID, will always generate a 500 permission error."
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/File'
                type: array
          description: Returns a list of File objects.
      security:
      - authCookie: []
      summary: List Files
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/files?tag={string}" \
               -b "auth={authCookie}"
  /file:
    post:
      description: Creates a new File object
      operationId: createFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
      security:
      - authCookie: []
      summary: Create File
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST "https://api.vrchat.cloud/api/1/file" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"name": "string", "mimeType": "image/jpeg", "extension": "string", "tags": ["string"]}'
  /file/{fileId}:
    delete:
      description: Deletes a File object.
      operationId: deleteFile
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: "file_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                File Deleted Success:
                  value:
                    success:
                      message: File deleted
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Successful response after deleting a File.
        "404":
          content:
            application/json:
              examples:
                File Deleted Error:
                  value:
                    error:
                      message: File 'file_ce35d830-e20a-4df0-a6d4-5aaef4508044' not
                        found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to delete a non-existent file.
      security:
      - authCookie: []
      summary: Delete File
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE "https://api.vrchat.cloud/api/1/file/{fileId}" \
               -b "auth={authCookie}"
    get:
      description: "Shows general information about the \"File\" object. Each File\
        \ can have several \"Version\"'s, and each Version can have multiple real\
        \ files or \"Data\" blobs."
      operationId: getFile
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: "file_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
        "404":
          content:
            application/json:
              examples:
                "404 File Not Found":
                  value:
                    error:
                      message: File 'file_ce35d830-e20a-4df0-a6d4-5aaef4508044' not
                        found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            file.
      security:
      - authCookie: []
      summary: Show File
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/file/{fileId}" \
               -b "auth={authCookie}"
    post:
      description: "Creates a new FileVersion. Once a Version has been created, proceed\
        \ to the `/file/{fileId}/{versionId}/file/start` endpoint to start a file\
        \ upload."
      operationId: createFileVersion
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: "file_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileVersionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
      security:
      - authCookie: []
      summary: Create File Version
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST "https://api.vrchat.cloud/api/1/file/{fileId}" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"signatureMd5": "string", "signatureSizeInBytes": 0, "fileMd5": "string", "fileSizeInBytes": 0}'
  /file/{fileId}/{versionId}:
    delete:
      description: Delete a specific version of a file. You can only delete the latest
        version.
      operationId: deleteFileVersion
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: "file_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
          type: string
        style: simple
      - description: Version ID of the asset.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
        "400":
          content:
            application/json:
              examples:
                "400 Delete Initial File Version":
                  value:
                    error:
                      message: Cannot delete the initial version of the file‚ just
                        delete the entire file record․
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to delete the initial version of
            a file. Delete the main File object instead.
        "500":
          content:
            application/json:
              examples:
                "409/500 Delete Non-Last File Version":
                  value:
                    error:
                      message: 409 Cannot delete against anything but the latest version
                        of this file˸ 1‚ 11
                      status_code: 500
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to delete any version of a file
            that is not hte last one.
      security:
      - authCookie: []
      summary: Delete File Version
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE "https://api.vrchat.cloud/api/1/file/{fileId}/{versionId}" \
            -b "auth={authCookie}"
    get:
      description: |-
        Downloads the file with the provided version number.

        **Version Note:** Version 0 is always when the file was created. The real data is usually always located in version 1 and up.

        **Extension Note:** Files are not guaranteed to have a file extensions. UnityPackage files tends to have it, images through this endpoint do not. You are responsible for appending file extension from the `extension` field when neccesary.
      operationId: downloadFileVersion
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: "file_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
          type: string
        style: simple
      - description: Version ID of the asset.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          description: Raw file
      security:
      - authCookie: []
      summary: Download File Version
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET "https://api.vrchat.cloud/api/1/file/{fileId}/{versionId}" \
            -b "auth={authCookie}"
  /file/{fileId}/{versionId}/{fileType}/finish:
    put:
      description: Finish an upload of a FileData. This will mark it as "complete".
        After uploading the `file` for Avatars and Worlds you then have to upload
        a `signature` file.
      operationId: finishFileDataUpload
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: "file_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
          type: string
        style: simple
      - description: Version ID of the asset.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      - description: Type of file.
        explode: false
        in: path
        name: fileType
        required: true
        schema:
          enum:
          - file
          - signature
          - delta
          example: file
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example Request:
                value:
                  etags:
                  - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  - yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
                  nextPartNumber: "0"
                  maxParts: "0"
            schema:
              $ref: '#/components/schemas/FinishFileDataUploadRequest'
        description: |-
          Please see documentation on ETag's:
          [https://teppen.io/2018/06/23/aws_s3_etags/](https://teppen.io/2018/06/23/aws_s3_etags/)

          ETag's should NOT be present when uploading a `signature`.
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
      security:
      - authCookie: []
      summary: Finish FileData Upload
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PUT "https://api.vrchat.cloud/api/1/file/{fileId}/{versionId}/{fileType}/finish" \
               -H "Content-Type: application/json" \
               -b "auth={authCookie}" \
               --data '{"etags": ["xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"], "nextPartNumber": "0", "maxParts": "0"}'
  /file/{fileId}/{versionId}/{fileType}/start:
    put:
      description: |-
        Starts an upload of a specific FilePart. This endpoint will return an AWS URL which you can PUT data to. You need to call this and receive a new AWS API URL for each `partNumber`. Please see AWS's REST documentation on "PUT Object to S3" on how to upload. Once all parts has been uploaded, proceed to `/finish` endpoint.

        **Note:** `nextPartNumber` seems like it is always ignored. Despite it returning 0, first partNumber is always 1.
      operationId: startFileDataUpload
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: "file_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
          type: string
        style: simple
      - description: Version ID of the asset.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      - description: Type of file.
        explode: false
        in: path
        name: fileType
        required: true
        schema:
          enum:
          - file
          - signature
          - delta
          example: file
          type: string
        style: simple
      - deprecated: true
        description: "The part number to start uploading. If not provided, the first\
          \ part will be started."
        explode: true
        in: query
        name: partNumber
        required: false
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Response:
                  value:
                    url: https://s3.amazonaws.com/files.vrchat.cloud/Avatar-MyAvatar-Un.file_00000000-0000-0000-0000-000000000000.1.unitypackage?AWSAccessKeyId=XXXXXXXXXXXXXXXXXXXX&Expires=1626028518&Signature=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&partNumber=1&uploadId=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..xxxxxxxxxxxxxxxxxxxxxxx
              schema:
                $ref: '#/components/schemas/FileUploadURL'
          description: "See [https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html](AWS\
            \ REST docs - PUT Object)"
        "400":
          content:
            application/json:
              examples:
                Tried To Upload Against Already Finished Version:
                  value:
                    error:
                      message: Cannot upload against a complete version entry․ Create
                        a new version of this file before uploading․
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to start an upload against a FileVersion
            that is already marked as  `complete`.
      security:
      - authCookie: []
      summary: Start FileData Upload
      tags:
      - files
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PUT "https://api.vrchat.cloud/api/1/file/{fileId}/{versionId}/{fileType}/start" \
               -b "auth={authCookie}"
  /file/{fileId}/{versionId}/{fileType}/status:
    get:
[...]
